<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Checkout</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontisto@v3.0.4/css/fontisto/fontisto.min.css" />
  <!-- UIkit JS -->
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js"></script>
</head>

<body id="main">
  <nav style="margin-top: 10px;">
    <ul style="text-align: center;justify-content: center;">
      <a href=""><img class="logo" src="assets/fryerman-logo-f.png"></a>
      <div>
        <li id="navBar navChild"><a href="javascript:void(0)" id="navBar" onclick="openNav()"><i class="fi fi-nav-icon-a"
              style="color: #313137;margin-top: -6px;"></i>&nbsp;</a></li>
        <li class="navChild"><a href="/help">&nbsp;Help</a></li>
        <li class="navChild"><a href="/orders">&nbsp;Orders</a></li>
        <li class="navChild"><a href="/">&nbsp;Home</a></li>
        <div *ngIf="isJustLoggedIn">
          <li class="navChild">
              <app-profile [name]="name" [image]="image">
              </app-profile>
            </li>
        </div>
      </div>
    </ul>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/">About</a>
      <hr>
      <a href="/help">Help</a>
      <hr>
      <div *ngIf="isJustLoggedIn">
        <a href="/orders">Orders</a>
        <hr>
        <a href="/login" (click)="authService.SignOut()">Sign Out</a>
      </div>
      <div *ngIf="!isJustLoggedIn">
        <hr>
        <a href="/login" (click)="authService.SignOut()">Log in</a>
      </div>
      <br>
      <hr class="uk-hr">
    </div>
  </nav>
  <h1 style="margin-left: 40px;margin-top:-40px;">Select Location</h1>
  <h4 style="color:#313137;margin:0%;margin-left:20px">Your current location is already set by GPS.</h4>
  <p style="font-size:small;margin:10px 10px;" >Hold the red marker and place it where you want the order to be delivered.</p>
  <div class="uk-padding" id="mainCard">
    <div class="uk-card uk-card-default uk-card-hover uk-width-1-1" id="map">
      <agm-map [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="16" *ngIf="mapLoaded">
        <agm-marker *ngFor="let marker of location.markers" [latitude]="marker.lat" [longitude]="marker.lng"
          (markerClick)="selectMarker($event)" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
        </agm-marker>
      </agm-map>
      <div style="height:100%;width:100%;" *ngIf="!mapLoaded">
        <i class="fi fi-spinner-refresh fi-spin alignCenter"></i>
      </div>
    </div>
    <button class="uk-button uk-button-danger uk-align-center uk-margin" (click)="continue()">Continue To Payment</button>
  </div>
  <div class="footer">
    <div style="float: left;">
      <div class="uk-flex">
        <div>
          <a href="/help">
            <img src="assets/fryerman-logo-f.png" alt="" style="margin-top: 80px;margin-left: 30px;">
            <h3 style="margin-top: 20px; margin-left: 65px;">Contact Us</h3>
          </a>
          <br>
        </div>
        <div class="legals">
          <a href="/terms" style="color: white;text-decoration: none;font-size: large;">Terms And Conditions</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/privacy" style="color: white;text-decoration: none;font-size: large;">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/disclaimer" style="color: white;text-decoration: none;font-size: large;">Disclaimer</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/help" style="color: white;text-decoration: none;font-size: large;">Help</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </div>
    <div style="float: right;margin-right: 65px;margin-top: 170px;padding:30px 30px;" class="uk-grid-row-medium" >
      <li style="font-size: x-large;" class="fi fi-twitter"></li>
      <li style="font-size: x-large;" class="fi fi-facebook"></li>
      <li style="font-size: x-large;" class="fi fi-whatsapp"></li>
    </div>
  </div>
  <div class="deepFooter" style="margin: 0px 0px;  position: absolute;color: white; width: 100vw;text-align: center;overflow-x: hidden;;" >
    <div style="background-color: #811919;margin: 0px 0px;text-align: center;">
      All rights reserved. Copyright &#169; | NISHKARSH FOODS AND NOURISHMENTS PVT.LTD
    </div>
    <div style="width:100vw;margin:0px 0px;background-color: rgb(29, 29, 29); padding: 10px 10px;">Developed By <br><br><br>&nbsp;&nbsp;&nbsp;<a href="https://swayambhu.tech"><img src="https://swayambhu.tech/assets/img/INNOVATIONS 180.png?h=5711e5e479de8a4d97718000ba5149a8" width="25" height="25" alt="Swayambhu"> Swayambhu </a> with &nbsp;&nbsp;&nbsp;<a href="https://sapython.me/"><img src="https://sapython.me/favicon.ico" height="25" width="25" alt="Sapython"> Kumar Saptam</a></div>
  </div>
</body>
</html>
