<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Success</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontisto@v3.0.4/css/fontisto/fontisto.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js"></script>
    </head>
    <body>
        <div class="uk-card uk-card-body uk-card-default uk-card-hover uk-height-large uk-margin-large card" style="position: absolute;top:50%;left:50%;transform: translate(-50%, -50%);">
            <div class="uk-card-title uk-text-center">Fryer Man</div>
            <p style="color: rgb(245, 65, 65);font-size: larger;text-align: center;">Some error occured. Payment Failed.<br> You can move back to <a href="" style="background-color:rgb(209, 209, 209);color:rgb(65, 65, 65);border-radius: 2px;text-decoration: none;">&nbsp;&nbsp;home page&nbsp;&nbsp;</a></p>
            <hr class="uk-divider-icon">
            <div style="text-align: center;color:rgb(255, 55, 95);position: relative;left:50%;transform: translate(-50%);" uk-icon="icon:heart; ratio: 2"></div><br>
            <a href=""><button class="uk-button-secondary uk-padding-small button" style="font-size: large;">Home Page</button></a>
        </div>
    </body>
</html>