html,body{
  overflow-x:hidden;
  transition: background-color .5s;
}
#Ellipse_1 {
  fill: rgba(207,25,29,1);
}
.Ellipse_1 {
  position: absolute;
  overflow: visible;
  width: 1055px;
  height: 1055px;
  left: -201px;
  top: -273px;
}

ul {
  position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    z-index: 2;
}

li {
  float: right;
}

.logo{
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

li a,i {
  font-weight: 600;
  font-size: 20px;
  display: block;
  color: rgb(49, 49, 49);
  text-align: center;
  padding: 14px 16px;
}
li,i{
  text-decoration: none;
}
.footer{
  position: absolute;
  bottom: -1050px;
  width: 100vw;
  height: 250px;
  background-color: #a81818;
  color: white;
  padding: 10px 10px;
}
.footer p,li,h3 {
  color:white;
  margin-left: 20px;
}
.footer li{
  font-size: xx-large;
}
.footer li:hover{
  text-shadow: rgb(41, 41, 41) 5px 5px 20px;
}
/* sidebar css */
.sidenav {
  will-change: transform;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  box-shadow: -10px 0px 20px rgba(0, 0, 0,0.2);
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(105, 105, 105);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ff5858;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px;
}

.legals{
  position: relative;
  margin-top: 70px;
  margin-left: 40px;
}

#main {
  transition: margin-right .5s;
} 

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.active{
  border-bottom: rgba(207,25,29,1) solid 5px;
}

/* sidebar css ends */
.products::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.products {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

.products{
  overflow-y: hidden;
  width:100vw;
  overflow-x: scroll;
  width:71vw;
  margin-right: 50px;
}

.products{
  scroll-snap-type: x proximity;
}

/* buttons */
.buttonOrderRed{
  color: #ffffff;
  background-color: rgba(207,25,29,1);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

.buttonOrderRed:hover{
  background-color: #ffffff;
  border-color: rgba(207,25,29,1);
  border-width: 5px;
  color: rgba(207,25,29,1);
}

/* buttons end */
.cartContainer{
  /* position: fixed; */
  /* position: sticky; */
  position: fixed;
  margin-left: 78%;
  margin-top: 100px;
  margin-bottom: 20px !important;
  /* top:180px;
  right:20px; */
  width: 300px !important;  
  height:400px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #888888;
  z-index: 10;
}
.cartHeader{
  position: relative;
  top:0px;
  width: 300px;
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius:20px;
  background-color: rgba(207,25,29,1);
  box-shadow: 0px 10px 20px rgba(207,25,29,0.5);
}
.cardTitle{
  color:white;
  font-size: 20px;
}
/* custom grid */
.customGrid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom:20px;
  margin-bottom: 20px;
}
/* custom grid ends */

.hrCenter{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
[_nghost-ufl-c15] .carousel-dots[_ngcontent-ufl-c15] .carousel-dot[_ngcontent-ufl-c15] {
	border: 2px solid #3c3c3c;
	border-radius: 100px;
	display: inline-block;
	height: 8px;
	margin: 4px;
	width: 8px;
}
.productsContainer{
  overflow-y: scroll;
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
}
.productsContainer::-webkit-scrollbar {
  display: none;
}
/* .productsContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;  
} */
.headerContainer{
  padding: 5px 5px 5px 5px;
  border: 2px solid white;
  /* background-color:rgba(53, 53, 53, 0.596); */
  left: 50%;
  top:0%;
  margin-top: 50px;
  font-style: italic;
  transform: translate(-50%);
}
.carouselContainer{
  width: 600px;
  text-align: center !important;
  display: inline-block;
}
.normTitle{
  width:100%;
  text-align: center;
  color: white;
}
.navChild{
  margin-right: 50px;
}
.carouselImage{
  width:600px;
  height: 600px;
}
.mainCarousel{
  width: 600px;
  height: 600px;
}
.mainBodyContainer{
  overflow-x: hidden;
  width: 100vw;
  position:absolute;
  color: white;
  left:0px;
}
.footerSmall{
  background-color: #a81818;
  position: relative;
  display: none;
  color: white;
}
.cartButton{
  display: none !important;
}
.svg{
  /* border-radius: 50%; */
  height: 100vh;
  width: 100vw;
  position: fixed;
  object-fit: cover;
  /* top: -400px;
  left: -400px; */
}
.deepFooter{
  font-size: large;
  bottom: -1120px;
}
.menu{
  margin-top: 3%;
  text-align: center;
  color: white;
}
.onTopCart{
  bottom:50px;
  right:0px;
  position: fixed;
  z-index: 2000;
  background-color: rgb(243, 132, 41);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow:-5px 5px 10px rgba(29, 29, 29, 0.418);
}
@media only screen and (min-width: 300px) and (max-width: 450px){
  .mainBodyContainer{
    margin-bottom: 300px;
  }
  .deepFooter{
    position: static;
    width: 100vw;
    text-overflow: clip;
    font-size: small;
  }
  .cartButton{
    display: block !important;
  }
  .logo{
    margin-right: 0px;
    width: 100px;
    height: auto;
  }
  body{
    height: 100%;
    overflow-x: hidden;
    width: 100vw;
  }
  .cartContainer{
    display: none;
  }
  .headerContainer{
    top:15%;
    width: 60vw;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 1;
    margin: 0 auto;
  }
  .carouselContainer{
    margin: 0%;
  }
  .normTitle{
    text-align: center;
  }
  .products{
    width: 100vw;
    margin-right: 40px;

  }
  .footer{
    display: none;
  }
  .navChild{
    display: none;
    margin-right: 20px;
  }
  .deepFooter{
    bottom: -900px;
  }
  .footerSmall{
    background-color: #a81818;
    position: absolute;
    display: block;
    margin-top: -200px;
    color: white;
  }
  .menu{
    margin-top:30%;
  }
  /* .mainBodyContainer{

  } */

}
@media only screen and (min-width:500px) and (max-width: 750px){
  .logo{
    width: 130px;
  }
  .cartButton{
    display: block !important;
  }
  .cartContainer{
    display: none;
  }
  .headerContainer{
    width: 60vw;
    margin-top: 0px;
    z-index: 1;
  }
  .normTitle{
    width: 100%;
    margin: 0%;
    text-align: center;
  }
  .carouselContainer{
    margin: 0%;
    width: 100%;
    height: auto;
  }
  .products{
    width: 90vw;
    margin-right: 40px;

  }
  .footer{
    position:absolute;
    bottom: -2000px;
  }
  .navChild{
    margin-right: 20px;
  }
}
@media only screen and (min-width:1300px) and (max-width:1390px){
  .cartContainer{
    margin-top: 100px;
    margin-left: 75%;
  }
  .footer{
    /* margin-top: 200px; */
    bottom: -1050px !important;
  }
  .deepFooter{
    bottom: -1120px !important;
  }
}
@media only screen and (min-width:1200px) and (max-width:1290px){
  .cartContainer{
    margin-left: 74%;
    margin-top: 30px;
  }
  .footer{
    bottom:-1100px;
  }
  .deepFooter{
    bottom: -900px;
  }
}